@font-face {
  font-family: "The Perfect Christmas";
  src: url("fonts/ThePerfectChristmas.woff2") format("woff2"),
    url("fonts/ThePerfectChristmas.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  font-size: 16px;
  background: linear-gradient(-45deg, #146b3a, #165b33);
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(#bb2528, #ea4630);
}
nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.current_link {
  font-weight: bold;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 50vw;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: center;
  background: #146b3a;
  padding: 15px 0 10px 0;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  flex-basis: 30%;
  margin: 0;
}

nav li {
  flex-basis: 50%;
  text-align: center;
  line-height: 1;
  padding: 0 4% 0 4%;
}

aside {
  padding: 20px;
  margin: 3%;
  background: linear-gradient(-45deg, #ea4630, #bb2528);
  border-radius: 15px;
  height: fit-content;
}

main {
  margin: 120px auto;
  max-width: 1200px;
}

.homepage aside {
  padding-top: 0;
}
.homepage aside h2 {
  padding-top: 20px;
}
.homepage {
  margin-top: 150px;
}
.homepage section {
  padding: 0 3% 0 3%;
}
section {
  padding: 20px;
}

.homepage section h2 {
  margin-top: 0;
}
article {
  background: linear-gradient(-45deg, #ea4630, #bb2528);
  padding: 25px;
  border-radius: 15px;
}
article + article {
  margin-top: 20px;
}

h1 {
  font-family: "The Perfect Christmas", cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
  width: 100%;
  text-align: center;
  color: white;
  margin: 0;
  line-height: 1.2;
}
h2 {
  font-family: "Merienda", cursive;
  font-weight: 700;
  font-size: 2rem;
}
h3 {
  margin-top: 0;
}
h4 {
  font-size: 1.3rem;
}
aside h2 {
  font-size: 1.6rem;
}
h3 {
  font-family: "Merienda", cursive;
  font-weight: 400;
  font-size: 1.5rem;
}
aside ol,
aside ul {
  padding-left: 15px;
}

/* Table */
td,
th,
caption {
  border: 1px solid white;
  padding: 5px;
}
caption {
  border-bottom: none;
}

th {
  background: white;
  color: #bb2528;
}
th + th {
  border-left-color: #bb2528;
  border-left-width: 2px;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  padding: 25px;
  border-top: 1px solid white;
}

/* contact page */
.contact-page h2 {
  margin: 0;
}

.contact-page form {
  background: linear-gradient(-45deg, #ea4630, #bb2528);
  padding: 25px;
  border-radius: 15px;
  flex: 2;
}
.contact-page h2 {
  text-align: center;
  margin-bottom: 20px;
}
form h3,
.contact-page aside h3 {
  margin-top: 0;
}
fieldset {
  border-color: white;
  border-radius: 15px;
}
label {
  display: block;
  width: 100%;
}
input {
  border-radius: 15px;
  border: none;
  padding: 5px;
  width: 100%;
  display: block;
}
button {
  display: block;
  background: white;
  border: none;
  color: #bb2528;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-weight: bold;
  border-radius: 15px;
}
textarea {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 10px;
}
.contact-page aside {
  flex: 1;
  margin: 0 0 20px 0;
  padding: 25px;
}
address a {
  color: white;
}
.contact-page section {
  justify-content: space-between;
}

@media (min-width: 800px) {
  .contact-page h2 {
    flex: 1 1 100%;
  }
  table {
    width: 70%;
  }
  aside {
    flex: 1;
  }
  .homepage section {
    flex: 4;
    padding: 0 20px 0 20px;
  }
  .homepage aside {
    margin-top: 0;
  }
  .homepage,
  .contact-page section {
    display: flex;
    justify-content: space-around;
  }
  img {
    height: 300px;
  }
  .contact-page aside {
    margin-right: 5%;
  }
  .contact-page section {
    flex-wrap: wrap;
  }
}
